.container{ width:1080px; margin:30px auto; }

.card{ float:left; width:250px; margin:10px; border:1px solid #ddd; }

.thums{ position:relative; }
.thums .img{ height:185px; background:#eee; }
.thums .logo{ width:40px; height:40px; background:#ddd; 
    position:absolute; left:15px; bottom:15px;  
}

.info{ border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:15px; }
.info h3{ font-size:18px; white-space:nowrap; word-wrap:normal; overflow:hidden; text-overflow:ellipsis; }
.info .company{ color:#999; }
.info .rebate{ font-size:12px; color:#555; }

.opt{ height:40px; line-height:40px; padding:0 15px; }
.opt .recom{ float:left; }
.opt .favorite{ float:right; width:16px; height:16px; 
    border-radius:50%; border:1px solid #ccc; margin:12px 0;
}
.opt .favorite.active{ background-color:crimson; }

.category{ overflow:hidden; margin-bottom:10px; }
.category li{ list-style:none; float:left; background:#fff; border:1px solid #ddd; 
    padding:15px 20px; margin:0 10px; cursor:pointer;
}
